.productCard .textpart {
    transition: transform .3s ease-out;
    
}
.productCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.productCard:hover .textpart {
    transform: translateY(-1rem);
}

.productCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}